  {% load static %} 
 <div class="container-fluid footer-page mt-4 py-5">
            <div class="row mb-5">
                <div class="col-12 col-xxl-11 mx-auto">
                    <div class="row">
                        {% comment %} <div class="col-12 col-xxl-4 mb-5 mb-xxl-0">
                            <h2 class="mb-3"><span class="text-gradient">#1 Creative</span> &<br /><span class="text-gradient">Multipurpose</span> HTML Template</h2>
                            <h5 class="mb-4">Clean & Trending UI design with<br />a great user experience</h5>
                            <p class="text-secondary">WinDOORS is creative and multipurpose template. You can use it for CRM, Business application, Intranet Application, Portal service and Many more.
                                It comes with unlimited possibilities and 10+ predefined styles which you can also mix up and create new style. Do support and spread a word for us. </p>
                        </div> {% endcomment %}
                        <div class="col-12 col-sm-6 col-md-4 col-xxl-2 ms-xxl-auto mb-5 mb-md-0">
                            <h5 class="mb-3">Main <span class="text-gradient">Dashboards</span></h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link px-0" href="finance-dashboard.html">Finance</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-0" href="network-dashboard.html">Network</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-0" href="inventory-dashboard.html">Inventory</a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link px-0" href="project-dashboard.html">Project</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xxl-2 mb-5 mb-md-0">
                            <h5 class="mb-3">Creative <span class="text-gradient">Pages</span></h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link px-0" href="app-calendar.html">Calendar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-0" href="app-email.html">Email</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-0" href="app-explorer.html">Explorer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-0" href="app-support.html">We need Support <i class="bi bi-heart-fill text-red"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4 col-xxl-3">
                            <a class="navbar-brand d-block mb-3" href="https://getWinDOORS.com" target="_blank">
                                <div class="row">
                                    <div class="col-auto"><img src="{% static 'assets/img/favicon48.png'%}" class="mx-100" alt="" /></div>
                                    <div class="col ps-0 align-self-center d-none d-sm-block">
                                        <h4 class="fw-normal text-dark mb-0">Kwebify</h4>
                                        <p class="text-secondary">{{user}} Admin App</p>
                                    </div>
                                </div>
                            </a>

                            <p class="mb-2"><b>Main office:</b></p>
                            <p class="mb-1"><a href="https://getWinDOORS.com" target="_blank">www.kwebify.com</a></p>
                            <p class="mb-4 text-secondary">Test data 103909 Witamer CR, Niagara Falls, NY 14305, United States</p>

                            <div class="row align-items-center mb-3">
                                <div class="col-auto"><i class="bi bi-clock text-theme"></i></div>
                                <div class="col ps-0">0441-215-518625<br /><span class="text-secondary">Mon - Sat, 9:00 am - 10:00pm</span></div>
                            </div>
                            <div class="row align-items-center mb-3">
                                <div class="col-auto"><i class="bi bi-telephone text-theme"></i></div>
                                <div class="col ps-0">+1-000 000 100000</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-xxl-11 mx-auto">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-auto mb-4 mb-md-0">
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link text-secondary" href="https://www.facebook.com/maxartkiller/" target="_blank">
                                        <i class="bi bi-facebook h5"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary" href="https://twitter.com/maxartkiller" target="_blank">
                                        <i class="bi bi-twitter h5"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary" href="https://linkedin.com/company/maxartkiller" target="_blank">
                                        <i class="bi bi-linkedin h5"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary" href="https://www.instagram.com/maxartkiller/" target="_blank">
                                        <i class="bi bi-instagram h5"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary" href="https://www.youtube.com/get-windoors/" target="_blank">
                                        <i class="bi bi-youtube h5"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-auto ms-auto">
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <i class="bi bi-microsoft h4 text-secondary"></i>
                                            </div>
                                            <div class="col ps-0">
                                                <p class="mb-0 small text-secondary">Get this on</p>
                                                <p>Microsoft Store</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <i class="bi bi-play-fill h3 text-secondary"></i>
                                            </div>
                                            <div class="col ps-0">
                                                <p class="mb-0 small text-secondary">Get this on</p>
                                                <p>Google Play</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <i class="bi bi-apple h4 text-secondary"></i>
                                            </div>
                                            <div class="col ps-0">
                                                <p class="mb-0 small text-secondary">Get this on</p>
                                                <p>App Store</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>