{% load static %}
{% block tile_details %}   
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Apsuni - Marketplace</title>
<meta name="description" content="Take your Compeny to the next level. With Resbritherx Studio plans, get everything you need to help grow your skills, build your Compeny and advance your career.">
<meta property="og:url" content="https://www.Apsuni.com/subscribe">
<meta property="og:site_name" content="Resbritherx">
<meta property="og:title" content="Subscribe to Apsuni Premium">
<meta property="og:image" content="https://www.artstation.com/images/facebook.jpg">
<meta property="og:description" content="Take your Compeny to the next level. With Resbritherx Studio plans, get everything you need to help grow your skills, build your Compeny and advance your career.">
<meta property="og:type" content="website">
<meta property="fb:app_id" content="249255215230397">
<meta name="twitter:site" content="@Resbritherx">
<meta name="twitter:site_name" content="Resbritherx">
<meta name="twitter:title" content="Subscribe to Resbritherx Premium">
<meta name="instagram:site" content="@Resbritherx">
<meta name="instagram:site_name" content="Resbritherx">
<meta name="instagram:title" content="Subscribe to Resbritherx Premium">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="Take your Compeny to the next level. With Resbritherx Studio plans, get everything you need to help grow your skills, build your Compeny and advance your career.">
<meta name="twitter:image" content="https://www.artstation.com/images/facebook.jpg">
<meta name="image" content="https://www.artstation.com/images/facebook.jpg">
<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<!--   <link rel="stylesheet" href="assets/css/app.min.css"> -->
<!-- Template CSS --><!-- 
   <link rel="stylesheet" href="assets/css/style.css">
   <link rel="stylesheet" href="assets/css/components.css"> -->
<!-- Custom style CSS -->
<!-- 
   <link rel="stylesheet" href="assets/css/custom.css"> -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>account details</title>
<link type="text/css" rel="stylesheet" href="{% static 'juicestatic/web/content/103818-884abc9/web.assets_common.0.css' %}">
<script src="web/cont/markerclusterer.js"></script>
<link type="text/css" rel="stylesheet" href="{% static 'juicestatic/web/cont/patrick1.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'juicestatic/web/cont/patrick2.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'juicestatic/web/cont/patrick3.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'juicestatic/web/cont/patrick.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'juicestatic/web/cont/patricko.css' %}">
<script type="text/javascript" src="{% static 'juicestatic/web/cont/web.assets_common.js' %}"></script>
<meta http-equiv="cleartype" content="on">



<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<link rel="stylesheet preload" href="{% static 'home_assets/css/plugins/fontawesome-6.css' %}" as="style">
<link rel="stylesheet preload" href="{% static 'home_assets/css/plugins/unicons.css' %}" as="style">
<link rel="stylesheet preload" href="{% static 'home_assets/css/plugins/swiper.min.css' %}" as="style">
<link rel="stylesheet preload" href="{% static 'home_assets/css/vendor/magnific-popup.css' %}" as="style">
<link rel="stylesheet preload" href="{% static 'home_assets/css/vendor/metismenu.css' %}" as="style">
<!-- custom css style -->



<meta name="viewport"
   content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="{% static 'juicestatic/web/cont/nv.d3.css' %}" rel="stylesheet" type="text/css">
<style type="text/css">
   .buttonsize{
   width: 130px;
   }
   [data-tab-content] {
   display: none;
   }
   .active[data-tab-content] {
   display: block;
   }
   .tabs {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   margin: 0;
   padding: 0;
   border-bottom: 1px solid black;
   }
   .tab.active {
   background-color: #CCC;
   }
   .tab:hover {
   background-color: #AAA;
   }
   .tab-content {
   margin-left: 20px;
   margin-right: 20px;
   }
   /*td{
   color: #bbb;
   }*/
   .btn-default {
   color: #fff;
   background-color: #33b89f;
   border-color: #5d5d5d;
   }
     .buttonsize{
        width: 130px;
    }


 [data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #CCC;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}
   .btn {
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   touch-action: manipulation;
   cursor: pointer;
   background-image: none;
   border: 1px solid transparent;
   white-space: nowrap;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.8;
   border-radius: 2px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   }
   .o_input{
   display: block;
   width: 100%;
   height: 28px;
   padding: 6px 12px;
   line-height: 1.8;
   color: green;
   box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
   transition: all .25s cubic-bezier(.455,.03,.515,.955);
   }
   body {
   font-family: Arial, Helvetica, sans-serif;
   }
   .close-button {
   text-align: center;
   margin: 24px 0 12px 0;
   position: relative;
   }
   .container {
   padding: 30px;
   }
   .background-modal {
   display: none; 
   position: fixed;
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0); 
   background-color: rgba(0,0,0,0.4); 
   padding-top: 60px;
   }
   .modal-content {
   background-color: #fefefe;
   margin: 5% auto 15% auto; 
   border: 1px solid #888;
   width: 80%; 
   max-width: 400px;
   text-align: left;
   border-radius: 12px;
   }
   .close {
   position: absolute;
   right: 25px;
   top: 0;
   color: #000;
   font-size: 35px;
   font-weight: initial;
   }
   .close:hover,
   .close:focus {
   color: red;
   cursor: pointer;
   }
   .animate {
   -webkit-animation: animatezoom 0.6s;
   animation: animatezoom 0.6s
   }
   @-webkit-keyframes animatezoom {
   from {-webkit-transform: scale(0)} 
   to {-webkit-transform: scale(1)}
   }
   @keyframes animatezoom {
   from {transform: scale(0)} 
   to {transform: scale(1)}
   }
   @media screen and (max-width: 300px) {
   span.password {
   display: block;
   float: none;
   }
   }
   @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');
   *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Ubuntu', sans-serif;
   }
   .payment{
   background: #f8f8f8;
   max-width: 360px;
   margin: 80px auto;
   height: auto;
   padding: 35px;
   padding-top: 70px;
   border-radius: 5px;
   position: relative;
   }
   .payment h2{
   text-align: center;
   letter-spacing: 2px;
   margin-bottom: 40px;
   color: #0d3c61;
   }
   .form .label{
   display: block;
   color: #555555;
   margin-bottom: 6px;
   }
   .input{
   padding: 13px 0px 13px 25px;
   width: 100%;
   text-align: center;
   border: 2px solid #dddddd;
   border-radius: 5px;
   letter-spacing: 1px;
   word-spacing: 3px;
   outline: none;
   font-size: 16px;
   color: #555555;
   }
   .card-grp{
   display: flex;
   justify-content: space-between;
   }
   .card-item{
   width: 48%;
   }
   .space{
   margin-bottom: 20px;
   }
   .icon-relative{
   position: relative;
   }
   .icon-relative .fas,
   .icon-relative .far{
   position: absolute;
   bottom: 12px;
   left: 15px;
   font-size: 20px;
   color: #555555;
   }
   .payment-logo{
   position: absolute;
   top: -50px;
   left: 50%;
   transform: translateX(-50%);
   width: 100px;
   height: 100px;
   background: #f8f8f8;
   border-radius: 50%;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   text-align: center;
   line-height: 85px;
   }
   .payment-logo:before{
   content: "";
   position: absolute;
   top: 5px;
   left: 5px;
   width: 90px;
   height: 90px;
   background: #2196F3;
   border-radius: 50%;
   }
   .payment-logo p{
   position: relative;
   color: #f8f8f8;
   font-family: 'Baloo Bhaijaan', cursive;
   font-size: 58px;
   }
   @media screen and (max-width: 420px){
   .card-grp{
   flex-direction: column;
   }
   .card-item{
   width: 100%;
   margin-bottom: 20px;
   }
   .btn{
   margin-top: 20px;
   }
   }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}
<body class="o_web_client" style="">
   <div class="a_canvas">
   <nav class="a_navbar" role="navigation" >
      <div style="margin-left: 2px;" class="col-auto a_app_menu_toggler"><img src="/static/assets/img/favicon48.png" class="mx-100" alt=""></div>
      <!-- <button type="button" class="">
      <span class="">Toggle App Menu</span>
      <i class="fa fa-th fa-lg app-drawer-icon-open"></i>
      </button>
       -->
      <span class="navbar-title">
       Apsuni Studio
      </span>
      <div class="a_menu_placeholder">
         <ul class="nav navbar-nav a_menu">
            <li><a href="/dashboard-home"><button style="margin-left:800%;" type="button" class="a_app_menu_toggler">
               <span class="sr-only">Toggle App Menu</span>
               <i class="fa fa-th fa-lg app-drawer-icon-open"></i>
               </button></a>
               </li>
            <!-- <li>
               <a aria-expanded="false" aria-haspopup="true" href="/Studio" role="button">
               Web Application Dev Studio
               </a>
            </li>
            <li>
               <a aria-expanded="false" aria-haspopup="true" href="/Studio" role="button">
               Mobile App Dev Studio
               </a>
            </li>
            <li>
               <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                  href="#" role="button">
               Recent
               <span class="caret"></span>
               </a>
               <ul class="dropdown-menu dropdown-scrollable">
                  <li>
                     <a data-action-id="864" data-action-model="ir.actions.act_window" data-menu="700"
                        data-menu-xmlid="electricity_billing.transformer_reading_menu_view"
                        href="#menu_id=700&amp;action=864">
                     Animation Dev Studio
                     </a>
                  </li>
                  <li>
                     <a data-action-id="1221" data-action-model="ir.actions.server" data-menu="969"
                        data-menu-xmlid="electricity_billing.billing_filtered_menu_view"
                        href="#menu_id=969&amp;action=1221">
                     Graphic Dev Studio
                     </a>
                  </li>
                  <li>
                     <a data-action-id="1374" data-action-model="ir.actions.act_window" data-menu="1128"
                        data-menu-xmlid="electricity_billing.lor_menu_view"
                        href="#menu_id=1128&amp;action=1374">
                     Loss Of Revenue
                     </a>
                  </li>
                  <li>
                     <a data-action-id="1376" data-action-model="ir.actions.server" data-menu="1129"
                        data-menu-xmlid="electricity_billing.feeder_billing_filtered_menu_view"
                        href="#menu_id=1129&amp;action=1376">
                     My District Feeder Billing
                     </a>
                  </li>
                  <li>
                     <a data-action-id="1378" data-action-model="ir.actions.server" data-menu="1130"
                        data-menu-xmlid="electricity_billing.multi_bill_report_view"
                        href="#menu_id=1130&amp;action=1378">
                     Get Multi Report
                     </a>
                  </li>
               </ul>
            </li>
            <li>
               <a aria-expanded="false" aria-haspopup="true" href="/juice/loc" role="button">
               Animation Dev Studio
               </a>
            </li> -->
            {% comment %} 
            <li>
               <a aria-expanded="false" aria-haspopup="true"
                  href="/juice/issues" role="button">
               Graphic Dev Studio
               </a>
            </li>
            {% endcomment %}
            {% comment %} 
            <li class="">
               <a aria-expanded="false" aria-haspopup="true"
                  href="/juice/vendors" role="button">
               Video Edit Dev Studio
               </a> 
            </li>
            <li> {% endcomment %}
               {% comment %} <a aria-expanded="false" aria-haspopup="true" 
                  href="#" role="button">
               Marketing Studio
               </a> 
            </li>
            {% endcomment %}
         </ul>
         <!-- <ul class="nav navbar-nav navbar-right a_systray_menu">
            <li class="o_planner_systray hidden-xs">
               <div class="progress o_hidden" data-original-title="" title="">
                  <div class="progress-bar"></div>
               </div>
            </li>
            <li class="o_mail_navbar_item o_no_notification">
               <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="http://74.208.168.47:8069/web#" title="Activities">
               <i class="fa fa-clock-o"></i> <span class="o_notification_counter badge">0</span>
               </a>
               <ul class="o_mail_navbar_dropdown dropdown-menu" role="menu">
                  <li class="o_mail_navbar_dropdown_channels">
                  </li>
                  <li class="text-center o_no_activity">
                     <span>No activities planned.</span>
                  </li>
               </ul>
            </li>
            <li class="o_mail_navbar_item">
               <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="http://74.208.168.47:8069/web#" title="Conversations">
               <i class="fa fa-comments"></i> <span class="o_notification_counter badge">15</span>
               </a>
               <ul class="o_mail_navbar_dropdown dropdown-menu" role="menu">
                  <li class="o_mail_navbar_dropdown_top">
                     <div>
                        <button class="btn btn-sm o_filter_button active" type="button"> All </button>
                        <button class="btn btn-sm o_filter_button" data-filter="chat" type="button"> Chat </button>
                        <button class="btn btn-sm o_filter_button" data-filter="channels" type="button"> Channels </button>
                     </div>
                     <button class="btn btn-sm o_new_message" type="button"> New message </button>
                  </li>
                  <li class="o_mail_navbar_dropdown_channels"></li>
               </ul>
            </li>
         </ul> -->
         <ul class="nav navbar-nav navbar-right a_user_menu">
            <li class="o_user_menu">
               <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="/">
               <img class="img-circle oe_topbar_avatar" src="{{user.profile.image.url}}">
               <span class="oe_topbar_name">{{user.first_name}} {{user.last_name}}</span>
               <span class="caret"></span>
               </a>
               <ul class="dropdown-menu" role="menu">
                  <li>
                     <a href="/Studio?debug">developer mode</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                     <a data-menu="logout" href="/logout">Log out</a>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
      <button type="button" class="a_menu_toggler">
      <span class="sr-only">Toggle Menu</span>
      <i class="fa fa-bars fa-lg"></i>
      </button>
   </nav>

    {% block content %}

    {% endblock content %}


</body>
<!-- General JS Scripts -->
<script src="{% static 'assets/js/app.min.js' %}"></script>
<!-- JS Libraies -->
<script src="{% static 'assets/bundles/apexcharts/apexcharts.min.js' %}"></script>
<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/index.js' %}"></script>
<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<!-- Custom JS File -->
<script src="{% static 'assets/js/custom.js' %}"></script>

<script type="text/javascript">
     
   const tabs = document.querySelectorAll('[data-tab-target]')
   const tabContents = document.querySelectorAll('[data-tab-content]')

   tabs.forEach(tab => {
   tab.addEventListener('click', () => {
      const target = document.querySelector(tab.dataset.tabTarget)
      tabContents.forEach(tabContent => {
         tabContent.classList.remove('active')
      })
      tabs.forEach(tab => {
         tab.classList.remove('active')
      })
      tab.classList.add('active')
      target.classList.add('active')
   })
   })
</script>
   <script type="text/javascript">
      const tabs = document.querySelectorAll('[data-tab-target]')
      const tabContents = document.querySelectorAll('[data-tab-content]')
      
      tabs.forEach(tab => {
      tab.addEventListener('click', () => {
      const target = document.querySelector(tab.dataset.tabTarget)
      tabContents.forEach(tabContent => {
      tabContent.classList.remove('active')
      })
      tabs.forEach(tab => {
      tab.classList.remove('active')
      })
      tab.classList.add('active')
      target.classList.add('active')
      })
      })
      
      function previewImage(input) {
      var preview = document.getElementById('preview');
      if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
         preview.setAttribute('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
      } else {
      preview.setAttribute('src', 'placeholder.png');
      }
      }
      
      var loadFile = function(event) {
         var image = document.getElementById('output');
         image.src = URL.createObjectURL(event.target.files[0]);
      }; 
      
      function loadFile(event) {
         var activimg = document.getElementsByClassName("img-responsive");
         var url = URL.createObjectURL(event.target.files[0]);
         activimg[0].innerHTML="<img class=\"output\" src=\"" + url + "\" alt=\"img\" >";
      };
      
      var modal = document.getElementById('modform');
         window.onclick = function(event) {
            if (event.target == modal) {
               modal.style.display = "none";
            }
         }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU"></script>
<!--
   To use this code on your website, get a free API key from Google.
   Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
   -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
function onlyOne(checkbox) {
    var checkboxes = document.getElementsByName('name')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOneb(checkbox) {
    var checkboxes = document.getElementsByName('name_b')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOnec(checkbox) {
    var checkboxes = document.getElementsByName('name_c')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOned(checkbox) {
    var checkboxes = document.getElementsByName('name_d')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOnee(checkbox) {
    var checkboxes = document.getElementsByName('name_e')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOnef(checkbox) {
    var checkboxes = document.getElementsByName('name_f')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOneg(checkbox) {
    var checkboxes = document.getElementsByName('name_g')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOneh(checkbox) {
    var checkboxes = document.getElementsByName('name_h')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOnei(checkbox) {
    var checkboxes = document.getElementsByName('name_i')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOnej(checkbox) {
    var checkboxes = document.getElementsByName('name_j')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOnek(checkbox) {
    var checkboxes = document.getElementsByName('name_k')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOnel(checkbox) {
    var checkboxes = document.getElementsByName('name_l')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOnem(checkbox) {
    var checkboxes = document.getElementsByName('name_m')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOnen(checkbox) {
    var checkboxes = document.getElementsByName('name_n')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOneo(checkbox) {
    var checkboxes = document.getElementsByName('name_o')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOnep(checkbox) {
    var checkboxes = document.getElementsByName('name_p')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOneq(checkbox) {
    var checkboxes = document.getElementsByName('name_q')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOneq(checkbox) {
    var checkboxes = document.getElementsByName('typescript')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOneq(checkbox) {
    var checkboxes = document.getElementsByName('redux')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
function onlyOneq(checkbox) {
    var checkboxes = document.getElementsByName('tailwind_css')
    checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
var valueList = document.getElementById('valuelist');
var text = ' <span class="o_badge_text" title="FinanceDepts"> </span>';
var listArray = [];

var checkboxes = document.querySelectorAll('.checkbox');

for(var checkbox of checkboxes){
   checkbox.addEventListener('click',function(){
      if(this.checked == true){
         listArray.push(this.value);
         valueList.innerHTML = text + listArray.join(' &nbsp <span style="background-color:#f5f5f5;color:#f5f5f5;padding-top: 10px;padding-bottom: 11px;">|</span>&nbsp ');
      }else {
         listArray = listArray.filter(e => e !== this.value);
         valueList.innerHTML = text + listArray.join(' === ');
      }
   })
}
var checkboxes = document.querySelectorAll('.check');
for(var checkbox of checkboxes){
   checkbox.addEventListener('click',function(){
      if(this.checked == true){
         listArray.push(this.placeholder);
         valueList.innerHTML = text + listArray.join(' &nbsp <span style="background-color:#f5f5f5;color:#f5f5f5;padding-top: 10px;padding-bottom: 11px;">|</span>&nbsp ');
      }else {
         listArray = listArray.filter(e => e !== this.value);
         valueList.innerHTML = text + listArray.join(' === ');
      }
   })
}
// function submitForm(form) {
//    swal({
//        title: "Are you sure you wont to go to next page?",
//        text: "This form will be submitted no going back",
//        icon: "warning",
//        buttons: true,
//        dangerMode: true,
//    })
//    .then(function (isOkay) {
//        if (isOkay) {
//            form.submit();
//        }
//    });
//    return false;
// }
  </script>
<script>
   $('#picker').colpick({
      flat:true,
      layout:'hex',
      submit:0,
     onChange:function(hsb,hex,rgb,el,bySetColor) {
         $(".big").css("background-color",'#'+hex);
     }
   }); 
   var x = document.getElementById("demo");
   function getLocation() {
     if (navigator.geolocation) {
       navigator.geolocation.getCurrentPosition(showPosition, showError);
     } else { 
       x.innerHTML = "Geolocation is not supported by this browser.";
     }
   }
   
   function showPosition(position) {
     var lat = position.coords.latitude;
     var lon = position.coords.longitude;
     var latlon = new google.maps.LatLng(lat, lon)
     var mapholder = document.getElementById('mapholder')
     mapholder.style.height = '250px';
     mapholder.style.width = '500px';
   
     var myOptions = {
       center:latlon,zoom:14,
       mapTypeId:google.maps.MapTypeId.ROADMAP,
       mapTypeControl:false,
       navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
     }
       
     var map = new google.maps.Map(document.getElementById("mapholder"), myOptions);
     var marker = new google.maps.Marker({position:latlon,map:map,title:"You are here!"});
   }
   
   function showError(error) {
     switch(error.code) {
       case error.PERMISSION_DENIED:
         x.innerHTML = "User denied the request for Geolocation."
         break;
       case error.POSITION_UNAVAILABLE:
         x.innerHTML = "Location information is unavailable."
         break;
       case error.TIMEOUT:
         x.innerHTML = "The request to get user location timed out."
         break;
       case error.UNKNOWN_ERROR:
         x.innerHTML = "An unknown error occurred."
         break;
     }
   }
   
   // function submitForm(form) {
   //    swal({
   //        title: "Are you sure you wont to go to next page?",
   //        text: "This form will be submitted no going back",
   //        icon: "warning",
   //        buttons: true,
   //        dangerMode: true,
   //    })
   //    .then(function (isOkay) {
   //        if (isOkay) {
   //            form.submit();
   //        }
   //    });
   //    return false;
   // }
</script>
</body>
</html>