{% extends 'users/base.html' %} {% load static %}
                   
                   {% block content %} 
                    <div class="col-12  align-self-center py-4">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-11 col-lg-10 col-xl-8 col-xxl-6">
                                <h1 class="display-4">Welcome,</h1>
                                <p class="h4 fw-light mb-4">WinDOORS because every home with windows needs a doors.</p>
                                <p class="text-secondary small">
                                    We will open new doors for your business or enterprise application front-end UI design elements. Intuitive UI designs, User experienced Interfaces & ready to use flexible components.
                                </p>
                                <p class="text-secondary small mb-5">
                                    Feel like your own, create unlimited style & best for your brand design. You can always <b>create new account</b> <a href="signup.html" class="text-primary">Sign up!</a>
                                </p>

                                <p class="h4 fw-light mb-4">Start best experience now</p>

                                <form class="mb-4" method="POST">
                                    {% csrf_token %}
                                    <!-- alert messages -->
                                    <div class="alert alert-danger fade show d-none mb-2 global-alert" role="alert">
                                        <div class="row">
                                            <div class="col"><strong>Requierd!</strong> Please enter valid data.</div>
                                        </div>
                                    </div>
                                    <div class="alert alert-success fade show d-none mb-2 global-success" role="alert">
                                        <div class="row">
                                            <div class="col-auto align-self-center">
                                                <div class="spinner-border spinner-border-sm text-success me-2" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </div>
                                            <div class="col ps-0">
                                                <strong>Awesome!</strong> Taking you to the next page.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Form elements -->
                                    <div class="form-group mb-2 position-relative">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-person"></i></span>
                                            <div class="form-floating">
                                                <input type="text" placeholder="Username" name="username" required class="form-control border-start-0" autofocus id="username">
                                                <label>Username</label>
                                            </div>
                                            <!-- submit button -->
                                            <!-- <button class="btn btn-lg btn-theme z-index-5 btn-square-lg" type="button" id="submitbtn"><i class="bi bi-arrow-right"></i></button> -->
                                        </div>
                                    </div>
                                    <br/>
                                        <div class="form-group mb-2 position-relative check-valid">
                                            <div class="input-group input-group-lg">
                                                <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-key"></i></span>
                                                <div class="form-floating">
                                                    <input type="password" placeholder="Enter Password" name="password1" required class="form-control border-start-0" id="password1">
                                                    <label for="password1">Password</label>
                                                    <input type="hidden" id="depositedr" name="depositedr" value="0.00">
                                                    <input type="hidden" id="profitr" name="profitr" value="0.00">
                                                    <input type="hidden" id="bonusr" name="bonusr" value="0.00">
                                                    <input type="hidden" id="ref_bonusr" name="ref_bonusr" value="0.00">
                                                    <input type="hidden" id="balancer" name="balancer" value="0.00">
                                                    
                                                    
                                                </div>
                                                <span class="input-group-text text-secondary bg-white border-end-0" id="viewpassword"><i class="bi bi-eye"></i></span>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback mb-3">Please enter valid input</div>
                                        <div class="feedback mb-3">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="check-strength" id="checksterngthdisplay">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="small" id="textpassword"></span>
                                                    <i class="bi bi-info-circle text-theme ms-1" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Password should contain atleast 1 capital, 1 alphanumeric & min. 8 characters"></i>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="invalid-feedback">Add .com at last to insert valid data </div>
                                    
                                    <button class="btn btn-lg btn-theme top-0 end-0 z-index-5 mt-4"  type="button" id="submitbtn">Next <i class="bi bi-arrow-right"></i></button>
                                </form>

                                <!-- or continue with options -->
                                <div class="row">
                                    <div class="col-auto">
                                        <p class="text-secondary">Or you can<br>continue with</p>
                                    </div>
                                    <div class="col ps-0 align-self-center">
                                        <ul class="nav">
                                            <li class="nav-item"><a class="nav-link px-2" href="#"><img src="assets/img/facebook.png" alt="" /></a></li>
                                            <li class="nav-item"><a class="nav-link px-2" href="#"><img src="assets/img/windows.png" alt="" /></a></li>
                                            <li class="nav-item"><a class="nav-link px-2" href="#"><img src="assets/img/google.png" alt="" /></a></li>
                                            <li class="nav-item"><a class="nav-link px-2" href="#"><img src="assets/img/twitter.png" alt="" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock content %}    